
.vscode/settings.json
*/build
*/__pycache__/*
*/__pycache__/*
Python/tmpParticle0.json
Python/tmpParticle1.json
Python/tmpParticle2.json
Python/tmpParticle3.json
Python/tmpParticle4.json
Python/tmpParticle5.json
Python/tmpParticle6.json
Python/tmpParticle7.json
Python/tmpParticle8.json
Python/tmpParticle9.json
